body {
    /*background-image: url('../images/background.jpg');*/
    /*background-size: cover;*/
    background-color: #f8f9fa;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.login-form {
    width: 300px;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    margin-bottom: 15px;
}